# Backend choice ["openai", "local"]
LLM_BACKEND=local

# OpenAI backend
OPENAI_MODEL=gpt-4.1
OPENAI_API_KEY=sk-...

# Local backend ollama
#LOCAL_BASE_URL=https://ollama.com/v1
#LOCAL_API_KEY=your key
#LOCAL_MODEL=mistral-large-3:675b-cloud
#LLM_INTERVAL=3.0
#IMAGE_SIZE=320x320
#JPEG_QUALITY=95

# Local backend self hosted qwen model 
LOCAL_BASE_URL=https://<public_ip>:8001/v1
LOCAL_API_KEY=abcd
#["finetuned", "general"]
LOCAL_MODEL_TYPE=general
LOCAL_MODEL=Qwen/Qwen2.5-VL-72B-Instruct

#LOCAL_MODEL_TYPE=finetuned
#LOCAL_MODEL=biggestFudge/qwen2-5-vl-7b-robot-merged-v2

LLM_INTERVAL=3.0
IMAGE_SIZE=320x320
JPEG_QUALITY=95